<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% fields_for @address do |ff| %>
	  <p>
	    <%= ff.label :street1 %><br />
	    <%= ff.text_field :street1 %>
	  </p>
	  <p>
	    <%= ff.label :street2 %><br />
	    <%= ff.text_field :street2 %>
	  </p>
	  <p>
	    <%= ff.label :city %><br />
	    <%= ff.text_field :city %>
	  </p>
	  <p>
	    <%= ff.label :state %><br />
	    <%= ff.text_field :state %>
	  </p>
	  <p>
	    <%= ff.label :zip %><br />
	    <%= ff.text_field :zip %>
	  </p>
  <% end %>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <% if (current_user && current_user.admin?) %>
    <p>
      <%= f.label :admin %><br />
      <%= f.check_box :admin %>
    </p>
  <% end %>
  <p>
    <%= f.submit @user.new_record? ? 'Create' : 'Update' %>
  </p>
<% end %>