<% if params[:friends_only] %>
	<h1><%= link_to "Where is Everyone?", users_path(:friends_only => false) %>&nbsp;Where are my Friends?</h1>
<% else %>
	<h1>Where is Everyone?&nbsp;<%= link_to "Where are my Friends?", users_path(:friends_only => true) %></h1>
<% end %>

<%= @map.div(:width => 600, :height => 400) %>

<br />

<table>
	<% if @users.size == 0 %>
		<tr><td>Come on! You're not that much of a loner. Choose your <%= link_to 'friends', user_friendships_path(current_user) %>!</td></tr>
	<% else %>
	    <tr>
	      <th>First name</th>
	      <th>Last name</th>
	      <th>Email</th>
	      <th>Street1</th>
	      <th>Street2</th>
	      <th>City</th>
	      <th>State</th>
	      <th>Zip</th>
	      <th>Phone</th>
	    </tr>
		<% for user in @users %>
		  <tr>
		    <td><%=h user.first_name %></td>
		    <td><%=h user.last_name %></td>
		    <td><%=h user.email %></td>
		    <td><%=h user.address && user.address.street1 %></td>
		    <td><%=h user.address && user.address.street2 %></td>
		    <td><%=h user.address && user.address.city %></td>
		    <td><%=h user.address && user.address.state %></td>
		    <td><%=h user.address && user.address.zip %></td>
		    <td><%=h user.phone %></td>
		    <td><%= link_to 'Show', user %></td>
			<% if (current_user.admin? || current_user == user) %>
		    	<td><%= link_to 'Edit', edit_user_path(user) %></td>
		    	<td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
		    	<td><%= link_to 'Select Friends', user_friendships_path(user) %></td>
			<% end %>
		  </tr>
		<% end %>
	<% end %>
</table>



