<% unless @user.photo_file_name.nil? %>
	<p>
	  <%=image_tag @user.photo.url, :height => 200 %>
	</p>
<% end %>
<p>
  <b>First name:</b>
  <%=h @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Street1:</b>
  <%=h @address.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%=h @address.street2 %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @address.zip %>
</p>

<p>
  <b>Phone:</b>
  <%=h @user.phone %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to Address Book', users_path %>
