<h1>Friends of <%= @user.first_name %></h1>

<% form_tag update_friends_user_path(@user), :method => :put do %>
	<%= hidden_field_tag "user[friend_ids][]", "" %>
	<table>
	  <tr>
	    <th>Friend?</th>
	    <th>First name</th>
	    <th>Last name</th>
	    <th>Email</th>
	  </tr>

	<% for user in @users %>
	  <tr>
	    <td><%= check_box_tag "user[friend_ids][]", user.id, @user.friends.include?(user) %></td>
	    <td><%=h user.first_name %></td>
	    <td><%=h user.last_name %></td>
	    <td><%=h user.email %></td>
	    <td><%= link_to 'Show', user %></td>
	  </tr>
	<% end %>
	</table>

	<%= submit_tag "Save" %>

<% end %>
<br />
