<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Address Book with Google Maps</title>
  <%= stylesheet_link_tag 'scaffold' %>

  <%# Google Maps integration %>
  <%= GMap.header %>
  <%= @map && @map.to_html %>

  <%# RSS feed integration %>
  <link href="/feed.rss" rel="alternate" type="application/rss+xml" title="Address Change Notification System" />
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<% if current_user_session %>
	<%= link_to "Logout", user_session_path, :method => :delete %>
<% end %>

<%= yield  %>

</body>
</html>
